/* Main index.css file for styles imports */

@import 'modern-normalize';

/* All root render settings */

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Body settings */

body {
  margin: 0;
  font-family: 'Montserrat';
  background-color: #a5a5a5;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Local fonts */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Carattere';
  src: url('../fonts/Carattere-Regular.ttf');
}

/* Resets */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}
