/* Main index.css file for styles imports */

@import 'modern-normalize';

/* All root render settings */

#root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Body settings */

body {
  margin: 0;
  font-family: 'Montserrat';
  color: #000000;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Local fonts */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Carattere';
  src: url('../fonts/Carattere-Regular.ttf');
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf');
}

/* Resets */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

option {
  margin: 0;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Custom Scrollbar */

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #000000;
  transition: background-color 100ms ease-in;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #c0aa41;
}

::-webkit-scrollbar-track {
  background-color: #ffffff;
}
